@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
/* font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  font-size: 62.5%;
}

/* ===============
HEADER
=============== */
/* ----- NAVIGATION ----- */
header {
  position: fixed;
  right: 1rem;
  top: 1rem;
  background: #fff;
  border-radius: 5px;
  opacity: 0.9;
  color: #202020;
}
header li {
  display: inline;
  padding-left: 1.6vw;
}
header a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
}
header a:hover {
  text-decoration: underline;
}

/* ===============
MAIN
=============== */
h1,
h2,
h3 {
  font-size: 5em;
  font-weight: 400;
  text-transform: lowercase;
}

main p {
  font-size: 2em;
  font-weight: 300;
  margin: 20px auto;
  line-height: 180%;
}

.zentriert {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
}

/* ----- Section01 / Buttons / lightbulb GIF ----- */
main section:nth-of-type(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6vh;
  /* -- Buttons -- */
}
main section:nth-of-type(1) > div {
  width: 50%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section:nth-of-type(1) .buttonSection01 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}
main section:nth-of-type(1) .buttonSection01 button {
  padding: 0.5rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  /* Warum andere Schriftart??? */
  font-family: "Merriweather", serif;
  box-shadow: 0 0 10px 1px rgba(32, 32, 32, 0.25);
  transition: all 250ms;
}
main section:nth-of-type(1) .buttonSection01 button:first-of-type {
  background-color: #202020;
  color: #fff;
}
main section:nth-of-type(1) .buttonSection01 button:first-of-type:hover {
  background-color: #fff;
  color: #202020;
  scale: 1.1;
}
main section:nth-of-type(1) .buttonSection01 button:last-of-type {
  background-color: #fff;
  color: #202020;
}
main section:nth-of-type(1) .buttonSection01 button:last-of-type:hover {
  background-color: #202020;
  color: #fff;
  scale: 1.1;
}
main section:nth-of-type(1) img {
  width: 100%;
  max-width: 30vw;
}

/* ----- Section02 / BIld links/rechts ----- */
/* --- Article01 / Bild links --- */
main section:nth-of-type(2) article {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  margin-top: 20vh;
}
main section:nth-of-type(2) article div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
main section:nth-of-type(2) article img {
  width: 30vw;
}

/* ----- Section03 / Drei Bilder/ Applications----- */
main section:nth-of-type(3) h2 {
  margin-top: 10vh;
}
main section:nth-of-type(3) > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 5vh;
}
main section:nth-of-type(3) > div > div {
  overflow: hidden;
  width: 100%;
}
main section:nth-of-type(3) > div > div img {
  width: 100%;
  transition: all 500ms;
}
main section:nth-of-type(3) > div > div img:hover {
  scale: 1.5;
  rotate: 5deg;
}

/* ----- Section04 / Gallery / Examples ----- */
main section:nth-of-type(4) h2 {
  margin-top: 10vh;
}
main section:nth-of-type(4) div {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
main section:nth-of-type(4) img {
  width: 35vw;
}
main section:nth-of-type(4) img:hover {
  box-shadow: 0 0 5px 3px lightgray;
}

/* ----- Section05 / Membership ----- */
main section:nth-of-type(5) {
  /* --- Liste --- */
  /* --- Link --- */
}
main section:nth-of-type(5) h2 {
  margin-top: 10vh;
}
main section:nth-of-type(5) #membership {
  background-color: #f5fbfe;
  display: table;
  text-align: center;
  font-size: 1.3rem;
  line-height: 150%;
  margin: 0 auto;
  margin-bottom: 5vh;
  padding: 1rem 2rem;
}
main section:nth-of-type(5) #membership h4 {
  font-size: 1.1em;
  margin: 1rem auto;
}
main section:nth-of-type(5) #membership h5 {
  font-size: 2.5em;
  font-weight: 600;
  margin: 1rem auto;
}
main section:nth-of-type(5) #membership h6 {
  font-size: 1em;
  font-weight: 500;
  color: rgba(32, 32, 32, 0.5);
  margin: 1rem auto;
}
main section:nth-of-type(5) #membership ul {
  margin-bottom: 1rem;
  list-style: none;
  font-size: 0.8rem;
}
main section:nth-of-type(5) a {
  background-color: #24bff2;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9em;
}

/* ===============
FOOTER
=============== */
footer {
  text-align: center;
  /* ----- Links/ Social Media ----- */
  /* --- Pfeil --- */
}
footer a {
  text-decoration: none;
  color: #202020;
}
footer div {
  font-size: 1.2rem;
  margin: 1.25rem auto;
}
footer div p {
  color: rgb(184, 184, 184);
  font-size: 1.2rem;
}
footer div:nth-of-type(1) {
  margin-top: 4vh;
}
footer div:nth-of-type(1) p {
  margin-bottom: 2vh;
}
footer div:nth-of-type(1) a:hover {
  text-decoration: underline;
}
footer div:nth-of-type(2) a {
  letter-spacing: 1px;
}
footer div:nth-of-type(2) span {
  font-size: 40px;
}
footer .fb {
  color: #3b5998;
}
footer .ig {
  color: #fcaf45;
}
footer .tw {
  color: #55acee;
}
footer .yt {
  color: #c4302b;
}
footer #Pfeil {
  position: fixed;
  left: 30px;
  bottom: 30px;
  opacity: 0.9;
}
footer #Pfeil img {
  border-radius: 25px;
}/*# sourceMappingURL=style.css.map */